<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.example.demo.mapper.cart.CartMapper">
	
	<resultMap type="com.example.demo.domain.cart.CartItem" id="CartItemsMap">
		<id column="id" property="id"/>		
		<result column="cart_id" property="cartId"/>
		<result column="product_id" property="productId"/>
		<result column="quantity" property="quantity"/>
		<result column="product_price" property="productPrice"/>
		<result column="productName" property="productName"/>
	</resultMap>

</mapper>