<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.example.demo.mapper.order.OrderMapper">
	
	<resultMap type="com.example.demo.domain.order.dto.OrderDto" id="OrderItemMap">
		<id column="id" property="id"/>		
		<result column="member_id" property="memberId"/>
		<result column="created" property="created"/>
		<result column="total_price" property="totalPrice"/>
		<result column="status" property="status"/>
		<collection property="productName" ofType="String">
			<result column="productName"/>
		</collection>
		<collection property="productIds" ofType="Integer">
			<result column="productIds"/>
		</collection>
	</resultMap>
	
	<resultMap type="com.example.demo.domain.payment.PaymentDto" id="PaymentDtoMap">
		<result column="id" property="orderId"/>
		<result column="total_price" property="totalPrice"/>
		<result column="member_email" property="email"/>
		<result column="member_name" property="memberName"/>
		<result column="member_phone_number" property="phoneNumber"/>
		<result column="member_address" property="address"/>
		<collection property="productName" ofType="string">
			<result column="productName"/>
		</collection>
	</resultMap>
	
</mapper>

