<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.productInquiry.ProductInquiryMapper">
	
	<resultMap type="com.example.demo.domain.ProductInquiry" id="showListByProductId">
		<id column="inquiry_id" property="inquiryId"/>
		<result column="product_id" property="productId"/>
		<result column="customer_name" property="customerName"/>
		<result column="nickname" property="nickName"/>
		<result column="inquiry_title" property="inquiryTitle"/>
		<result column="inquiry_text" property="inquiryText"/>
		<result column="created_at" property="createdAt"/>		
	</resultMap>
	
	<resultMap type="com.example.demo.domain.ProductInquiry" id="addInquiry">
		<id column="inquiry_id" property="inquiryId"/>
		<result column="product_id" property="productId"/>
		<result column="customer_name" property="customerName"/>
		<result column="nickname" property="nickName"/>
		<result column="inquiry_title" property="inquiryTitle"/>
		<result column="inquiry_text" property="inquiryText"/>
		<result column="created_at" property="createdAt"/>		
	</resultMap>
	
	<resultMap type="com.example.demo.domain.ProductInquiry" id="deleteInquiry">
		<id column="inquiry_id" property="inquiryId"/>
		<result column="product_id" property="productId"/>
		<result column="customer_name" property="customerName"/>
		<result column="nickname" property="nickName"/>
		<result column="inquiry_title" property="inquiryTitle"/>
		<result column="inquiry_text" property="inquiryText"/>
		<result column="created_at" property="createdAt"/>		
	</resultMap>
	
	<resultMap type="com.example.demo.domain.ProductInquiry" id="getInquiryByInquiryId">
		<id column="inquiry_id" property="inquiryId"/>
		<result column="product_id" property="productId"/>
		<result column="customer_name" property="customerName"/>
		<result column="nickname" property="nickName"/>
		<result column="inquiry_title" property="inquiryTitle"/>
		<result column="inquiry_text" property="inquiryText"/>
		<result column="created_at" property="createdAt"/>		
	</resultMap>

	<resultMap type="com.example.demo.domain.ProductInquiry" id="modifyInquiry">
		<id column="inquiry_id" property="inquiryId"/>
		<result column="product_id" property="productId"/>
		<result column="customer_name" property="customerName"/>
		<result column="nickname" property="nickName"/>
		<result column="inquiry_title" property="inquiryTitle"/>
		<result column="inquiry_text" property="inquiryText"/>
		<result column="created_at" property="createdAt"/>		
	</resultMap>
	
	
	

</mapper>

